<% if user_signed_in? %>
<br/>
Willkommen <%= current_user.username %>!
<br/>
<br/>
<br/>
<% else %>
<p>Auf dieser Seite können Sie Bilder hochladen und diese in <br/> 
   in verschiedene Formate/größen umrechnen lassen</p>
<% end %>


