<head>
<title>Administration</title>
</head>
<body>

<h4>Administration über die user</h4>


	<% @users.each do |user| %>
  		<%= user.username %> 
  		<%= link_to "bearbeiten" ,"edit/#{user.id}"%>
  		</br>
  	<% end %>
</body>
</html>
